.place__like {
    background-image: url(../../../images/LikeButton.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 100%;
    border: none;
    width: 22px;
    height: 19px;
    cursor: pointer;
}

.place__like:hover {
    opacity: 0.5;
}

.place__like:active {
    background-image: url(../../../images/Union.svg);
}