.place__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 21px 0 31px 0;
    padding-left: 21px;
    padding-right: 15px;
}