.popup__save {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 2px;
    padding: 14px 125px;
    margin-top: 18px;
    cursor: pointer;
    border: 0;
}

.popup__save:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1023px) {
    .popup__save {
        font-size: 14px;
        line-height: 17px;
        padding: 14px 82px;
    }
}