.header__logo {
    padding-bottom: 41px;
    padding-top: 45px;
    max-width: 142px;
}

@media screen and (max-width: 1023px) {
    .header__logo {
        max-width: 104px;
        padding-left: 19px;
        padding-bottom: 32px;
        padding-top: 28px;
    }
}