.profile__content {
    display: flex;
    align-items: flex-start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 1023px) {
    .profile__content {
        padding-top: 26px;
    }
}