.popup__close {
    background-image: url(../../../images/Close-Icon.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    width: 40px;
    height: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    background-size: cover;
    cursor: pointer;
}

.popup__close:hover{
    opacity: 0.6;
}

@media screen and (max-width: 425px) {
    .popup__close {
        right: -10px;
    }
}
